package {{ .Package }}

import (
    "errors"
    "fmt"
    "math"
    "reflect"
    "regexp"
    "strings"

    "github.com/rubrikinc/testwell/internal/cmp"
    "github.com/rubrikinc/testwell/internal/fail"
    "github.com/rubrikinc/testwell/testing"
)

{{ $msgfmtcomment :=  "// msg is an optional list of arguments following the `fmt.Printf()` format." -}}

{{ define "helper" }}
{{ . }}.Helper()
{{ end }}

// True tests if val is True.
{{ $msgfmtcomment }}
func True(t testing.T, tval bool, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    if tval {
        return true
    }
    return failTest(
        t,
        fail.Failure("True").
            Reason(`expected "true", got "%v" instead`, tval).
            ExtraMsg(msg...),
    )
}

// False tests if val is False.
{{ $msgfmtcomment }}
func False(t testing.T, tval bool, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    if !tval {
        return true
    }
    return failTest(
        t,
        fail.Failure("False").
            Reason(`expected "false", got "%v" instead`, tval).
            ExtraMsg(msg...),
    )
}

{{ range $T := PrimitiveTypes | GenericType | ErrorType }}
    // Equal{{ $T.N }} tests if `left` is equal to `right` using the `==`
    // operator.
    {{ $msgfmtcomment }}
    // This version takes takes two {{ $T.T }}.
    {{- if eq $T.T "interface{}" }}
    // This is a strict equality test. It will fail if `left` and `right`
    // have different types. For example, int32(42) is not equal to int64(42).
    // You can use the typed versions of `Equal` for more static typing.
    // Note that Slice, map, and function values are not comparable.
    // See also `DeepEqual`.
    {{- end }}
    func Equal{{ $T.N }}(t testing.T,
            left {{ $T.T }},
            right {{ $T.T }},
            msg ...interface{}) bool {
        {{- template "helper" "t" }}
        failure := fail.Failure("Equal{{ $T.N }}")

        if ok, err := cmp.Equal(left, right); err != nil {
            failure = failure.Error(err)
            if cerr, ok2 := err.(cmp.NotComparableError); ok2 {
                failure = failure.Error(cerr)
                if reflect.TypeOf(left) == nil || reflect.TypeOf(right) == nil {
                    failure = failure.Hint("see Nil for <nil> checks")
                } else {
                    failure = failure.Hint("take a look at DeepEqual")
                }
            }
        } else if ok {
            return true
        }

        failure = failure.Reason("values should be equal").
			LeftValue(left).RightValue(right)
        return failTest(t, failure.ExtraMsg(msg...))
    }

    // NotEqual{{ $T.N }} tests if `left` is not equal to `right` using the
    // `!=` operator. The left value comes first, followed by the value to
    // test against.
    {{ $msgfmtcomment }}
    // This version takes takes two {{ $T.T }}
    {{- if eq $T.T "interface{}" }}
    // This is a strict non-equality test. It will pass only when
    // `left` and `right` have identical type but non-equal values.
    // For example, given int32(42) and int64(42), the test will fail because
    // the types are not comparable. Given int32(42) and int32(42), the test
    // will fail because the two values are equal.
    // You can use the typed versions of `NotEqual` for more static typing.
    // Note that Slice, map, and function values are not comparable.
    // See also `NotDeepEqual`.
    {{- end }}
    func NotEqual{{ $T.N }}(t testing.T,
            left {{ $T.T }},
            right {{ $T.T }},
            msg ...interface{}) bool {
        {{- template "helper" "t" }}
        failure := fail.Failure("NotEqual{{ $T.N }}")

        if ok, err := cmp.Equal(left, right); err != nil {
            failure = failure.Error(err)
            if cerr, ok2 := err.(cmp.NotComparableError); ok2 {
                failure = failure.Error(cerr)
                if reflect.TypeOf(left) == nil || reflect.TypeOf(right) == nil {
                    failure = failure.Hint("see NotNil for <nil> checks")
                } else {
                    failure = failure.Hint("take a look at NotDeepEqual")
                }
            }
        } else if !ok {
            return true
        }

        failure = failure.Reason("values should not be equal").
			LeftValue(left).RightValue(right)
        return failTest(t, failure.ExtraMsg(msg...))
    }
{{ end }}

{{ range $T := OrderedTypes }}
    // Greater{{ $T.N }} tests if `left` is strictly greater than `right`.
    {{ $msgfmtcomment }}
    func Greater{{ $T.N }}(t testing.T,
            left {{ $T.T }},
            right {{ $T.T }},
            msg ...interface{}) bool {
        {{- template "helper" "t" }}
        if left > right {
            return true
        }
        return failTest(t, fail.Failure("Greater{{ $T.N }}").
            Reason("expected left > right").
            LeftValue(left).RightValue(right).
            ExtraMsg(msg...))
    }

    // GreaterOrEqual{{ $T.N }} tests if `left` is greater than or equal to `right`.
    {{ $msgfmtcomment }}
    func GreaterOrEqual{{ $T.N }}(t testing.T,
            left {{ $T.T }},
            right {{ $T.T }},
            msg ...interface{}) bool {
        {{- template "helper" "t" }}
        if left >= right {
            return true
        }
        return failTest(t, fail.Failure("GreaterOrEqual{{ $T.N }}").
            Reason("expected left >= right").
            LeftValue(left).RightValue(right).
            ExtraMsg(msg...))
    }

    // Less{{ $T.N }} tests if `left` is strictly less than `right`.
    {{ $msgfmtcomment }}
    func Less{{ $T.N }}(t testing.T,
            left {{ $T.T }},
            right {{ $T.T }},
            msg ...interface{}) bool {
        {{- template "helper" "t" }}
        if left < right {
            return true
        }
        return failTest(t, fail.Failure("Less{{ $T.N }}").
            Reason("expected left < right").
            LeftValue(left).RightValue(right).
            ExtraMsg(msg...))
    }

    // LessOrEqual{{ $T.N }} tests if `left` is less than or equal to `right`.
    {{ $msgfmtcomment }}
    func LessOrEqual{{ $T.N }}(t testing.T,
            left {{ $T.T }},
            right {{ $T.T }},
            msg ...interface{}) bool {
        {{- template "helper" "t" }}
        if left <= right {
            return true
        }
        return failTest(t, fail.Failure("LessOrEqual{{ $T.N }}").
            Reason("expected left <= right").
            LeftValue(left).RightValue(right).
            ExtraMsg(msg...))
    }
{{ end }}


// EqualTypes tests if `left` and `right` have the same type.
{{ $msgfmtcomment }}
// Example:
//  var a int32 = 42;
//  EqualType(t, int32(0), a)
func EqualTypes(t testing.T,
        left interface{},
        right interface{},
        msg ...interface{}) bool {
    {{- template "helper" "t" }}
    leftType := reflect.TypeOf(left)
    rightType := reflect.TypeOf(right)
    if leftType == rightType {
        return true
    }
    return failTest(t, fail.Failure("EqualTypes").
        Reason("types should be equal").
		LeftType(left).RightType(right).
        ExtraMsg(msg...))
}

// NotEqualTypes tests if `left` and `right` have different types.
{{ $msgfmtcomment }}
// Example:
//  var a int32 = 42;
//  NotEqualType(t, int64(0), a)
func NotEqualTypes(t testing.T,
        left interface{},
        right interface{},
        msg ...interface{}) bool {
    {{- template "helper" "t" }}
    leftType := reflect.TypeOf(left)
    rightType := reflect.TypeOf(right)
    if leftType != rightType {
        return true
    }
    return failTest(t, fail.Failure("NotEqualTypes").
        Reason("types should not be equal").
		LeftType(left).RightType(right).
        ExtraMsg(msg...))
}

{{ range $T := PrimitiveTypes | GenericType | ErrorType }}
    // Contains{{ $T.N }} tests if `expectedElement` is contained within
    // `container`. `container` can be a string, map (only keys are matched),
    // array or slice.
    {{ if eq $T.T "interface{}" -}}
    // The type of elements within `container` must match the type of
    // `expectedElement`.
    {{- else -}}
    // The `container` must have elements of type `{{ $T.T }}`.
    {{- end }}
    {{ $msgfmtcomment }}
    // You can use the typed versions of `Contains` for more static typing.
    // See also `NotContains`.
    func Contains{{ $T.N }}(t testing.T,
            expectedElement {{ $T.T }},
            container interface{},
            msg ...interface{}) bool {
        {{- template "helper" "t" }}
        ok, err := cmp.Contains(expectedElement, container)
        failure := fail.Failure("Contains{{ $T.N }}")
        if err != nil {
            if ce, ok2 := err.(cmp.ContainsError); ok2 {
                failure = failure.Hint(ce.Hint)
            } else {
                failure = failure.Error(err)
            }
        } else if ok {
            return true
        }
        failure = failure.Reason("`%v` (%T) is not contained in `%v` (%T)",
                        expectedElement, expectedElement, container, container)
        return failTest(t, failure.ExtraMsg(msg...))
    }

    // NotContains{{ $T.N }} tests if `expectedElement` is contained within
    // `container`. `container` can be a string, map, array or slice.
    {{ if eq $T.T "interface{}" -}}
    // The type of elements within `container` must match the type of
    // `expectedElement`.
    {{- else -}}
    // The `container` must have elements of type `{{ $T.T }}`.
    {{- end }}
    {{ $msgfmtcomment }}
    // You can use the typed versions of `NotContains` for more static typing.
    // See also `Contains`.
    func NotContains{{ $T.N }}(t testing.T,
            expectedElement {{ $T.T }},
            container interface{},
            msg ...interface{}) bool {
        {{- template "helper" "t" }}
        ok, err := cmp.Contains(expectedElement, container)
        failure := fail.Failure("NotContains{{ $T.N }}")
        if err != nil {
            if ce, ok2 := err.(cmp.ContainsError); ok2 {
                failure = failure.Hint(ce.Hint)
            } else {
                failure = failure.Error(err)
            }
        } else if !ok {
            return true
        }
        failure = failure.Reason("`%v` (%T) is contained in `%v` (%T)",
                        expectedElement, expectedElement, container, container)
        return failTest(t, failure.ExtraMsg(msg...))
    }
{{ end }}

// Nil tests if the passed value is Nil. See also Empty.
{{ $msgfmtcomment }}
func Nil(t testing.T, tval interface{}, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    isnil, err := cmp.Nil(tval)
    failure := fail.Failure("Nil")
    if err != nil {
        failure = failure.Error(err)
    } else if isnil {
        return true
    }
    failure = failure. Reason("`%v` (%T) should be nil", tval, tval)
    return failTest(t, failure.ExtraMsg(msg...))
}

// NotNil tests if the passed value is not Nil. See also NotEmpty.
{{ $msgfmtcomment }}
func NotNil(t testing.T, tval interface{}, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    isnil, err := cmp.Nil(tval)
    failure := fail.Failure("NotNil")
    if err != nil {
        failure = failure.Error(err)
    } else if !isnil {
        return true
    }
    failure = failure.Reason("`%v (%T)` should not be nil", tval, tval)
    return failTest(t, failure.ExtraMsg(msg...))
}

// NoError tests if err is nil.
{{ $msgfmtcomment }}
// See also Error, ErrorIs, ErrorAs, ErrorContains.
func NoError(t testing.T, err error, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    if err == nil {
        return true
    }
    return failTest(t, fail.Failure("NoError").
        Reason("expected no error, got: %v", err).
        ExtraMsg(msg...))
}

// Error tests if err is not nil.
{{ $msgfmtcomment }}
// See also NoError, ErrorIs, ErrorAs, ErrorContains.
func Error(t testing.T, err error, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    if err != nil {
        return true
    }
    return failTest(t, fail.Failure("Error").
        Reason("expected an error but got nil").
        ExtraMsg(msg...))
}

// ErrorIs tests if errors.Is(err, target) is true.
{{ $msgfmtcomment }}
// See also NotErrorIs, NoError, Error.
func ErrorIs(t testing.T, err error, target error, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    if errors.Is(err, target) {
        return true
    }
    return failTest(t, fail.Failure("ErrorIs").
        Reason("errors.Is(err, target) returned false").
        LeftValue(err).RightValue(target).
        ExtraMsg(msg...))
}

// NotErrorIs tests if errors.Is(err, target) is false.
{{ $msgfmtcomment }}
// See also ErrorIs, NoError, Error.
func NotErrorIs(t testing.T, err error, target error, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    if !errors.Is(err, target) {
        return true
    }
    return failTest(t, fail.Failure("NotErrorIs").
        Reason("errors.Is(err, target) returned true").
        LeftValue(err).RightValue(target).
        ExtraMsg(msg...))
}

// ErrorAs tests if errors.As(err, target) is true.
{{ $msgfmtcomment }}
// target must be a non-nil pointer to either a type that implements error,
// or to any interface type. See also NotErrorAs.
func ErrorAs(t testing.T, err error, target interface{}, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    if errors.As(err, target) {
        return true
    }
    return failTest(t, fail.Failure("ErrorAs").
        Reason("errors.As(err, target) returned false").
        LeftValue(err).RightValue(target).
        ExtraMsg(msg...))
}

// ErrorContains tests if err is not nil and err.Error() contains substr.
{{ $msgfmtcomment }}
// See also Error, ErrorIs.
func ErrorContains(t testing.T, err error, substr string, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    if err != nil && strings.Contains(err.Error(), substr) {
        return true
    }
    failure := fail.Failure("ErrorContains")
    if err == nil {
        failure = failure.Reason("expected an error containing %q, got nil", substr)
    } else {
        failure = failure.Reason("expected error to contain %q", substr).
            LeftValue(err.Error()).RightValue(substr)
    }
    return failTest(t, failure.ExtraMsg(msg...))
}

// Empty tests if the passed value is Empty. A nil container or a container
// with zero elements are both empty. Uses Go len().
// Container can be any of Array, Chan, Map, Slice, or String.
{{ $msgfmtcomment }}
// See also `Nil`.
func Empty(t testing.T, container interface{}, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    empty, err := cmp.Empty(container)
    failure := fail.Failure("Empty")
    if err != nil {
        failure = failure.Error(err)
    } else if empty {
        return true
    }
    failure = failure.Reason("`%v` (%T) should be empty", container, container)
    return failTest(t, failure.ExtraMsg(msg...))
}

// NotEmpty tests if the passed value is not Empty. Only a non-nil container
// with at least one element will pass the test. Uses Go len().
// Container can be any of Array, Chan, Map, Slice, or String.
// See also `NotNil`.
{{ $msgfmtcomment }}
func NotEmpty(t testing.T, container interface{}, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    empty, err := cmp.Empty(container)
    failure := fail.Failure("NotEmpty")
    if err != nil {
        failure = failure.Error(err)
    } else if !empty {
        return true
    }
    failure = failure.Reason("`%v` (%T) should not be empty", container, container)
    return failTest(t, failure.ExtraMsg(msg...))
}

// Len tests if the length of container equals expected. Uses Go len().
// Container can be any of Array, Chan, Map, Slice, or String.
{{ $msgfmtcomment }}
func Len(t testing.T, container interface{}, expected int, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    v := reflect.ValueOf(container)
    actual := -1
    switch v.Kind() {
    case reflect.Array, reflect.Chan, reflect.Map, reflect.Slice, reflect.String:
        actual = v.Len()
    }
    if actual == expected {
        return true
    }
    failure := fail.Failure("Len")
    if actual == -1 {
        failure = failure.Reason("`%v` (%T) does not support Len", container, container)
    } else {
        failure = failure.Reason("expected length %d, got %d", expected, actual).
            LeftValue(expected).RightValue(actual)
    }
    return failTest(t, failure.ExtraMsg(msg...))
}

// ElementsMatch tests if `expected` and `actual` contain the same elements
// regardless of order. Both must be slices or arrays.
{{ $msgfmtcomment }}
// See also Contains, DeepEqual.
func ElementsMatch(t testing.T,
        expected interface{},
        actual interface{},
        msg ...interface{}) bool {
    {{- template "helper" "t" }}
    ok, err := cmp.ElementsMatch(expected, actual)
    failure := fail.Failure("ElementsMatch")
    if err != nil {
        failure = failure.Error(err)
    } else if ok {
        return true
    } else {
        failure = failure.Reason("slices contain different elements").
            LeftValue(expected).RightValue(actual)
    }
    return failTest(t, failure.ExtraMsg(msg...))
}

// NotElementsMatch tests if `expected` and `actual` do not contain the same
// elements (regardless of order). Both must be slices or arrays.
{{ $msgfmtcomment }}
// See also NotContains, NotDeepEqual.
func NotElementsMatch(t testing.T,
        expected interface{},
        actual interface{},
        msg ...interface{}) bool {
    {{- template "helper" "t" }}
    ok, err := cmp.ElementsMatch(expected, actual)
    failure := fail.Failure("NotElementsMatch")
    if err != nil {
        failure = failure.Error(err)
    } else if !ok {
        return true
    } else {
        failure = failure.Reason("slices contain the same elements").
            LeftValue(expected).RightValue(actual)
    }
    return failTest(t, failure.ExtraMsg(msg...))
}

// DeepEqual tests if `left` == `right` using `reflect.DeepEqual`.
{{ $msgfmtcomment }}
// This is a deep, recursive equality test. See also `Equal`.
func DeepEqual(t testing.T,
        left interface{},
        right interface{},
        msg ...interface{}) bool {
    {{- template "helper" "t" }}
    failure := fail.Failure("DeepEqual")

    if reflect.DeepEqual(left, right) {
        return true
    }

    failure = failure.Reason("values should be deeply equal").
			LeftValue(left).
			RightValue(right)
    return failTest(t, failure.ExtraMsg(msg...))
}

// NotDeepEqual tests if `left` != `right` using `reflect.DeepEqual`.
{{ $msgfmtcomment }}
// This is a deep, recursive non-equality test. See also `NotEqual`.
func NotDeepEqual(t testing.T,
        left interface{},
        right interface{},
        msg ...interface{}) bool {
    {{- template "helper" "t" }}
    failure := fail.Failure("NotDeepEqual")

    if !reflect.DeepEqual(left, right) {
        return true
    }

    failure = failure.Reason("values should not be deeply equal").
			LeftValue(left).
			RightValue(right)
    return failTest(t, failure.ExtraMsg(msg...))
}

// Same tests if expected and actual point to the same object (pointer identity).
// Both arguments must be pointers of the same type.
{{ $msgfmtcomment }}
func Same(t testing.T, expected interface{}, actual interface{}, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    ev := reflect.ValueOf(expected)
    av := reflect.ValueOf(actual)
    if ev.Kind() != reflect.Ptr || av.Kind() != reflect.Ptr {
        return failTest(t, fail.Failure("Same").
            Reason("both arguments must be pointers").
            ExtraMsg(msg...))
    }
    if reflect.TypeOf(expected) == reflect.TypeOf(actual) && ev.Pointer() == av.Pointer() {
        return true
    }
    return failTest(t, fail.Failure("Same").
        Reason("expected the same pointer").
        LeftValue(expected).RightValue(actual).
        ExtraMsg(msg...))
}

// NotSame tests if expected and actual do not point to the same object.
// Both arguments must be pointers; pointers of different types are never the same.
{{ $msgfmtcomment }}
func NotSame(t testing.T, expected interface{}, actual interface{}, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    ev := reflect.ValueOf(expected)
    av := reflect.ValueOf(actual)
    if ev.Kind() != reflect.Ptr || av.Kind() != reflect.Ptr {
        return failTest(t, fail.Failure("NotSame").
            Reason("both arguments must be pointers").
            ExtraMsg(msg...))
    }
    if reflect.TypeOf(expected) != reflect.TypeOf(actual) || ev.Pointer() != av.Pointer() {
        return true
    }
    return failTest(t, fail.Failure("NotSame").
        Reason("expected different pointers, got the same").
        LeftValue(expected).RightValue(actual).
        ExtraMsg(msg...))
}

// Zero tests if val is the zero value for its type.
{{ $msgfmtcomment }}
func Zero(t testing.T, val interface{}, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    if val == nil || reflect.ValueOf(val).IsZero() {
        return true
    }
    return failTest(t, fail.Failure("Zero").
        Reason("expected zero value, got `%v` (%T)", val, val).
        ExtraMsg(msg...))
}

// NotZero tests if val is not the zero value for its type.
{{ $msgfmtcomment }}
func NotZero(t testing.T, val interface{}, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    if val != nil && !reflect.ValueOf(val).IsZero() {
        return true
    }
    return failTest(t, fail.Failure("NotZero").
        Reason("expected non-zero value, got `%v` (%T)", val, val).
        ExtraMsg(msg...))
}

// InDelta tests if the absolute difference between expected and actual is
// less than or equal to delta. Useful for floating-point comparisons.
{{ $msgfmtcomment }}
func InDelta(t testing.T,
        expected float64,
        actual float64,
        delta float64,
        msg ...interface{}) bool {
    {{- template "helper" "t" }}
    diff := math.Abs(actual - expected)
    if diff <= delta {
        return true
    }
    return failTest(t, fail.Failure("InDelta").
        Reason("|actual - expected| = %v, which exceeds delta %v", diff, delta).
        LeftValue(expected).RightValue(actual).
        ExtraMsg(msg...))
}

// Regexp tests if str matches the given pattern. pattern can be a string or
// a *regexp.Regexp.
{{ $msgfmtcomment }}
// See also NotRegexp.
func Regexp(t testing.T, pattern interface{}, str string, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    rx, err := toRegexp(pattern)
    if err != nil {
        return failTest(t, fail.Failure("Regexp").Error(err).ExtraMsg(msg...))
    }
    if rx.MatchString(str) {
        return true
    }
    return failTest(t, fail.Failure("Regexp").
        Reason("expected %q to match pattern %q", str, rx.String()).
        LeftValue(str).RightValue(rx.String()).
        ExtraMsg(msg...))
}

// NotRegexp tests if str does not match the given pattern. pattern can be a
// string or a *regexp.Regexp.
{{ $msgfmtcomment }}
// See also Regexp.
func NotRegexp(t testing.T, pattern interface{}, str string, msg ...interface{}) bool {
    {{- template "helper" "t" }}
    rx, err := toRegexp(pattern)
    if err != nil {
        return failTest(t, fail.Failure("NotRegexp").Error(err).ExtraMsg(msg...))
    }
    if !rx.MatchString(str) {
        return true
    }
    return failTest(t, fail.Failure("NotRegexp").
        Reason("expected %q not to match pattern %q", str, rx.String()).
        LeftValue(str).RightValue(rx.String()).
        ExtraMsg(msg...))
}

func toRegexp(pattern interface{}) (*regexp.Regexp, error) {
    switch v := pattern.(type) {
    case string:
        return regexp.Compile(v)
    case *regexp.Regexp:
        return v, nil
    default:
        return nil, fmt.Errorf("pattern must be string or *regexp.Regexp, got %T", pattern)
    }
}

// Failed logs a message and fails the test.
// fmtstr and args follows the `fmt.Printf()` format.
func Failed(t testing.T, fmtstr string, args ...interface{}) {
    {{- template "helper" "t" }}
    failure := fail.Failure("Failed")
    failure = failure.Reason(fmtstr, args...)
    failTest(t, failure)
}

// Panics asserts that the code inside the specified function f panics.
//   assert.Panics(t, func(){ GoCrazy() })
func Panics(t testing.T, f func(), msg ...interface{}) bool {
	{{- template "helper" "t" }}

	if funcDidPanic, _ := cmp.Panics(f); !funcDidPanic {
		failure := fail.Failure("Panics")
		failure = failure.Reason("Expected function %#v to panic", f)
		return failTest(t, failure.ExtraMsg(msg...))
	}
	return true
}

// PanicsWith asserts that the code inside the specified function f
// panics, and that the recovered panic value equals the expected panic value
//   assert.PanicsWithValue(t, "crazy error", func(){ GoCrazy() })
func PanicsWith(t testing.T,
        expected interface{},
        f func(),
        msg ...interface{}) bool {
	{{- template "helper" "t" }}
	funcDidPanic, panicValue := cmp.Panics(f)
	failure := fail.Failure("PanicsWith")

	if !funcDidPanic {
		failure = failure.Reason("Expected %#v to panic", f)
	} else if !reflect.DeepEqual(expected, panicValue) {
		failure = failure.Reason("func %#v should panic with value:\t%v\n\r"+
			"\tPanic value:\t%v", f, expected, panicValue)
	} else {
		return true
	}
	return failTest(t, failure.ExtraMsg(msg...))
}

// NotPanics asserts that the code inside the specified function f does not panic.
//   assert.NotPanics(t, func(){ Sane() })
func NotPanics(t testing.T, f func(), msg ...interface{}) bool {
	{{- template "helper" "t" }}
	if funcDidPanic, panicValue := cmp.Panics(f); funcDidPanic {
		failure := fail.Failure("NotPanics")
		failure = failure.Reason("Expected function not to panic\n\tPanic value:\t%v", panicValue)
		return failTest(t, failure.ExtraMsg(msg...))
	}
	return true
}
